@import './variables';

body {
  color: $main-text-color;
  background: $background-color;
  font-family: $main-font;
}

a {
  color: $main-text-color;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

p {
  // preserves the newlines (and other whitespace) in loaded text
  white-space: pre-wrap;
}

button {
  padding: 0;
}
