$palette0: #ffffff; // white
$palette1: #3d3e4d; // dark blue
$palette2: #eed4b9; // cream
$palette3: #352e2f; // softer black
$palette4: #938885; // lighter grey
$palette5: #938885; // darker grey


$background-color: $palette1;
$main-text-color: $palette3;
$card-background-color: $palette2;
$inverted-text-color: $palette0;
$diagram-color-light: $palette4;
$diagram-color-dark: $palette5;

$main-font: 'Roboto', sans-serif;
$main-font-size: 1.4rem;
$large-font-size: 1.6rem;
$main-line-height: 2rem;
