$palette0: white;
$palette1: #1b1c1d;
$palette2: #969696;

$background-color: $palette2;
$primary-color: $palette1;
$secondary-color: $palette1;
$background-color-secondary: $palette2;
$main-font: Arial,Helvetica,sans-serif;
$header-height: 60px;
