@import '../commonStyles/variables';

.maintenancePage {
  min-height: 700px;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $inverted-text-color;
  margin: 20px;

  text-align: center;
  @media only screen and (max-width: 500px) {
    text-align: left;
  }
}
