@import '../commonStyles/variables';

.cardContainer {
  background-color: $card-background-color;
  color: $main-text-color;
  margin: $main-line-height 20px;
  min-height: 2rem;
  border-radius: 10px;
  padding: 20px 40px;

  @media only screen and (max-width: 600px) {
    padding: 20px 20px;
  }
  position: relative;
}

.preHeaderStyles {
  position: absolute;
  top: -$main-line-height;
  color: $inverted-text-color;
}

.postHeaderStyles {
  position: absolute;
  top: 100%;
  color: $inverted-text-color;
  width: 100%;
  margin-left: -20px;

  a {
    color: $inverted-text-color;
    text-decoration: none;
  }
}

p {
  margin-bottom: 0.5rem;
}
