@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../commonStyles/commonResets';

body {
  color: $main-text-color;
  background: $background-color;
  font-family: $main-font;
}

a {
  font-size: 1.5em;
  text-decoration: none;
}

.pageHeader {
  height: 60px
}

.container {
  min-height: 700px;
}

.containerCentered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
