@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../commonStyles/commonResets';
@import '../commonStyles/variables';

body {
  color: $main-text-color;
  background: $background-color;
  font-family: $main-font;
  font-weight: 300;
}

a {
  font-size: $main-font-size;
  text-decoration: none;
}

.pageHeader {
  height: 20px
}

.container {
  min-height: 700px;
  font-size: $main-font-size;
  line-height: $main-line-height;
}
