@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../commonStyles/commonResets';
@import '../commonStyles/variables';

html {
  color: $main-text-color;
  background: $background-color;
  font-family: $main-font;
  font-weight: 300;
  font-size: 16px * 1.4;
  @media only screen and (max-width: $main-break-point) {
    font-size: 16px * 1.1;
  }
}

h1 {
  font-size: $large-font-size;
  line-height: $large-line-height;
}

a {
  color: $main-text-color;
  text-decoration: underline;
}

.pageHeader {
  height: 20px;
}

.container {
  min-height: 700px;
  line-height: $main-line-height;
}

input[type="submit"] {
  color: $main-text-color;
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: 300;
  text-decoration: underline;
}
