@import "../commonStyles/variables.scss";

$logo-size: $main-line-height * 2.5;
$mobile-logo-size: $main-line-height * 3;
$dot-size: 0.8rem;
$gutter-width: 20px;
$year-width: 3rem;
$break-point: 760px;

.myJourneyCard {
  .verticalCentered {
    display: flex;
  }

  .logo {
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    background: white;

    min-width: $logo-size;
    max-width: $logo-size;
    height: $logo-size;
    @media only screen and (max-width: $main-break-point) {
      min-width: $mobile-logo-size;
      max-width: $mobile-logo-size;
      height: $mobile-logo-size;
    }

    @media only screen and (max-width: $break-point) {
      margin-right: 20px;
    }

    img {
      margin: auto auto;
      width: 100%;
      height: auto;
    }
  }

  .onlyLargeScreenFlex {
    display: flex;
    @media only screen and (max-width: $break-point) {
      display: none;
    }
  }

  .onlySmallScreenFlex {
    display: none;
    @media only screen and (max-width: $break-point) {
      display: flex;
    }
  }

  .onlyLargeScreenBlock {
    display: block;
    @media only screen and (max-width: $break-point) {
      display: none;
    }
  }

  .onlySmallScreenBlock {
    display: none;
    @media only screen and (max-width: $break-point) {
      display: block;
    }
  }

  .verticalBar {
    background: $diagram-color-dark;
    min-width: $dot-size;
    max-width: $dot-size;
    position: relative;
    margin-left: $gutter-width;
    @media only screen and (max-width: $break-point) {
      display: none;
    }
  }

  .verticalBar.first {
    top: $logo-size / 2;
  }

  .dot {
    min-width: $dot-size;
    max-width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background: $diagram-color-light;
    position: absolute;
    top: $logo-size / 2 - $dot-size / 2;
  }

  .first .dot {
    top: -$dot-size / 2;
  }

  .jobTexts {
    margin-left: $gutter-width;
    @media only screen and (max-width: $break-point) {
      margin-left: 0;
    }
    margin-top: -$main-line-height / 2;
    position: relative;
    top: $logo-size / 2;
    padding-bottom: $main-line-height / 2;
  }

  .yearAndJob {
    display: flex;
  }

  .year {
    min-width: $year-width;
    max-width: $year-width;
  }

  .details {
    margin-left: $year-width;
    @media only screen and (max-width: $break-point) {
      margin-left: 0;
    }
    margin-bottom: 1 * $main-line-height;
  }

  .description {
    margin-top: 1rem;
  }

  .projectsHeader {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .project {
    margin-bottom: 0.5rem;
  }
}
