@import '../commonStyles/variables';

$leftColWidth: 14rem;
$rightColWidth: calc(100% - 14rem);

.skillsCard {
  .skillsHeader {
    font-size: 1rem;

    .titlePlaceHolder {
      display: inline-block;
      width: $leftColWidth;
    }
    .levelDescriptions {
      display: inline-block;
      width: $rightColWidth;

      .start, .end {
        display: inline-block;
      }
    }
  }
  .skill {
    margin-bottom: 0.5rem;
  }
  .skillTitle {
    display: inline-block;
    width: $leftColWidth;
  }
  .skillBar {
    display: inline-block;
    width: $rightColWidth;

    .skillBarLeft {
      background: $diagram-color-callout;
    }
    .skillBarRight {
      background: $diagram-color-light;
    }
    .skillBarLeft, .skillBarRight {
      display: inline-block;
      height: 0.5rem;
    }
  }
  .skillMembers {
    margin-left: 3rem;
    margin-top: 0.5rem;
  }
}
