@import '../commonStyles/variables';

.topSkillsCard {
  background-image: url('/coffee-small.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.topSkillsText {
  line-height: 1.8rem;
  text-align: center;
  margin: 20px 0;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.imageCopyright {
  font-size: 0.4rem;

  text-align: center;
  @media all and (max-width: $main-break-point) {
    text-align: left;
  }

  position: absolute;
  top: 0;
  width: 100%;
}

.postHeaderContent {
  position: relative;
}
