@import '../commonStyles/tools';
@import '../commonStyles/variables';

.welcomeCard {
  padding-bottom: 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;

    @media all and (max-width: $main-break-point) {
      align-items: center;
      flex-flow: column;
    }
  }

  .texts {
    @media all and (max-width: $main-break-point) {
      text-align: center;
    }
  }

  .socialLinks {
    margin-top: 1rem;
  }

  .profileImage {
    background-image: url('/profile-pic-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    max-width: 100%;
  }
}
