@import '../commonStyles/tools';
@import '../commonStyles/variables';

.welcomeCard {
  padding-bottom: 0;
}

.socialLinks {
  margin-top: 1rem;
}

.profileImage {
  background-image: url('/profile-pic-1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}
